.cbt-toolbar {
  display: flex;
  gap: 1em;
}

.cbt-button {
  border: 1px solid black;
  color: black;
  border-radius: 1em;
  padding: 4px 2em;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
}

.cbt-button:hover {
  background-color: lightgrey;
}

.cbt-active {
  background-color: lightgrey;
}

.cbt-hidden {
  visibility: hidden;
}

.cbt-forceFullWidth {
  width: 14.2857% !important;
}

.cbt-forcePosition {
  transform: translateX(-50%) !important;
}